body {
    font-family: Arial;
    margin: 0;
}

.menu {
    background-color: pink;
    padding: 10px;
    text-align: center;
}

.menu a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.menu a:hover {
    text-decoration: underline;
}

